* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

main {
  #digitalClock {
    color: green;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 4rem;
  }
}
